.edit-task-drawer{
    background-color: var(--light-grey-color) !important;
}

.edit-task-drawer .ant-drawer-body {
    padding: 0 1.5rem;
}

.edit-task-drawer .ant-drawer-close {
    margin-left: auto;
}

.edit-task-block {
    background-color: #fff;
    box-shadow: inset 0 0 0.3rem var(--light-grey-color);
    border: 0.2rem solid var(--dark-grey-color);
    border-radius: 0.4rem;
    cursor: default;
    margin: 1.5rem 0;
    padding: 1.3rem 1.4rem;
}

.edit-task-info {
    align-items: flex-start;
    display: flex;
    padding: 1rem;
}

.edit-task-info-icon {
    margin-left: -0.2rem;
}

.edit-task-name-input {
    border: none;
    font-size: 2rem;
    font-family: var(--font-family);
    height: fit-content;
    margin-left: 1.2rem;
}

.star-icon {
    margin-left: auto;
}

.edit-task-add-steps {
    align-items: center;
    display: flex;
    padding: 1rem;
    margin-top: 1.3rem;
}

.edit-task-add-steps-input {
    border: none;
    margin-left: 1.2rem;
}

.edit-task-add-steps-input::placeholder{
    color: var(--primary-color);
    font-weight: bold;
}

.edit-task-block:nth-child(2), .edit-task-block:nth-child(4), .edit-task-block:nth-child(5){
    padding: 0;
}

.edit-task-toggle-my-day{
    align-items: center;
    display: flex;
    cursor: default;
    padding: 1.5rem;
    transition: background-color 0.1s ease-in;
}

.edit-task-toggle-my-day:hover{
    background-color: var(--light-grey-color);
}

.edit-task-toggle-my-day svg {
    margin-right: 1.2rem;
}

.edit-task-block-alarms li {
    align-items: center;
    border-bottom: 1px solid var(--light-grey-color);
    display: flex;
    padding: 1.5rem 1rem;
    transition: background-color 0.1s ease-in;
}

.edit-task-block-alarms li:hover {
    background-color: var(--light-grey-color);
    border-radius: 0.4rem;
}

.edit-task-block-alarms li svg {
    margin-right: 1.2rem;
}

.edit-task-toggle-add-file{
    align-items: center;
    display: flex;
    cursor: default;
    padding: 1.5rem;
    transition: background-color 0.1s ease-in;
}

.edit-task-toggle-add-file:hover {
    background-color: var(--light-grey-color);
}

.edit-task-toggle-add-file svg {
    margin-right: 1.2rem;
}

.edit-task-description {
    padding: 1rem;
}

.edit-task-description textarea{
    border: none;
    font-family: var(--font-family);
    height: 5rem;
    width: 100%;
}