.sidebar-list-input-form {
    align-items: center;
    display: flex;
    background-color: var(--dark-grey-color);
    padding: 0.45rem 0;
}

.sidebar-list-input-form svg {
    margin-left: 1.8rem;
}

.sidebar-list-input-field {
    background-color: #fff;
    border: 0.3rem var(--dark-grey-color);
    border-bottom: 0.3rem solid var(--primary-color);
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    outline: none;
    padding: 0.8rem;
    width: 13rem;
}